.charts{
   font-size: 25px;
   display: block;
}
.charts .top_of_dash{
    display: flex;
    gap: 45px;
}
.charts .dashbox1{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 400px;
    height: 105px;
    background-color: rgb(62, 62, 62);
    color: rgb(255, 255, 255);
}
.dashbox1 img{
    width: 30%;
    margin-left: -105px;
}
.info{
    margin-left: 20px;
}
.info h4{
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 5px;
}
.info p{
    margin-top: -20px;
    margin-bottom: 0px;
    margin-left: 5px;
}
.chart-container {
    margin-top: 25px;
    height: 400px; 
    width: 600px; 
    padding: 20px; 
    background-color: rgb(62, 62, 62); 
    border-radius: 10px;
    color: rgb(255, 255, 255);

}

.chart-title {
    text-align: center; 
    font-size: 24px; 
    color: #00ff08; 
    margin-bottom: 20px; 
}
.charts .tableshow{
    display: flex;
    gap: 25px;
}