.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #282e27; /* Change to your preferred background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 100px; /* Pushes the links to the right */
}

.profile-image {
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image circular */
  margin-right: 10px;
  border:3px solid green; /* Space between image and name */
}

.user-name {
  font-weight: bold;
  font-size: 20px;
  width: 100px; /* Makes the name stand out */
}

.navbar-links {
  display: flex;
  gap: 15px;
  margin-left: 1200px;
  font-weight: bold;
  font-size: 30px; /* Space between links */
}

.navbar-links a {
  text-decoration: none;
  color: #ffffff; /* Change to your preferred link color */
  padding: 5px 10px; /* Add padding for clickable area */
  border-radius: 5px; /* Rounded corners for links */
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.navbar-links a:hover {
  color: #04f73d; /*rgb(0, 249, 75) on hover */
}
