
.question-details {
    max-width: 800px; /* Max width for content */
    margin: 20px auto; /* Center the content */
    padding: 20px;
    background-color: #353535; /* White background for content */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.question-details.title {
    color: #ffffff; /* Darker text for the title */
    text-align: center; 
    font-size: 25px;/* Center title */
}

.question-details .content {
    margin-top: 20px; /* Space above content */
}

.question-details .details-table {
    width: 100%; /* Full width table */
    border-collapse: collapse; /* Remove spacing between cells */
}

.question-details .details-table td {
    padding: 10px; /* Space in cells */
    border: 1px solid #e0e0e0; /* Light gray border */
}

.question-details .details-table b {
    color: #27ae60;
    font-size: 25px; /* Green color for bold text */
}


/* Style for the correct answer box */
.question-details .correct-answer-box {
    margin-top: 20px; /* Space above the box */
    padding: 15px; /* Padding inside the box */
    background-color: #e8f6ef; /* Light green background */
    border: 2px solid #27ae60; /* Green border */
    border-radius: 8px; /* Rounded corners */
    font-size: 18px; /* Font size */
    color: #000; /* Text color */
    font-size: 25px;
}

.details-table{
    font-size: 25px;
}